/*------------- Estrutura  da Página-------------*/

body{background-color:gray}

div{
	border: solid 1px transparent;
}

.container{
	position: relative;
	width: 960px;
	margin: 0 auto;
}

.logo{
	height:  70px;
	width: 200;
	margin: 15px auto;
}


/*------------- Menu Principal -------------*/
a{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline;
}

.menu{
	width:100%;
	height:45px;
	background:#fff; 
	-moz-box-shadow:0 0 8px #666; 
	-webkit-box-shadow:0 0 8px #666; 
	box-shadow:0 0 8px #666;
}

.menu ul {
	list-style:none;
}
.menu ul li {
	font-family: arial;
	float:left;
	font-size:16px; 
	margin:0px 22px;
}
.menu div {
	float:right;
}
.menu p {
	margin:15px; 
	float:left;
}
.pesquisar {
	float:right;
	border:none;
}

.pesquisar input {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #CCCCCC;
	float: left;
	padding: 8px;
	width: 285px;
	margin:-10px 5px 0 0;
	
}
.pesquisar input.btn {
	top: 125px;
	right: 10px;
	position: absolute;
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	/*margin: -5px 0 0 -10px;*/
	padding: 0;
	width: auto;
}


/*------------- Home -------------*/













